{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href="{% static 'images/energylogo2.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body style="background-color: lightgrey;">
    <section class="m-4 d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="container">
            <div class="row" >
                <div class="col-md-10 mx-auto rounded shadow back justify-content-center" style="border-radius: 100px;">
                    <input type="button" class="btn mt-1 backbutton" value="← Go back" onclick="history.go(-1)">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <div>
                                <img class="img-fluid" src="{% static 'images/signup.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <form method="POST" class="m-5">
                                <h2 class="mb-3 text-center">Register</h2>
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{ form | crispy}}
                                </div>
                                <div class="row mb-3">
                                    <div class="text-center">Already have an account? Login <a href="/login">here</a></div>
                                    <div><input type="submit" style="background-color: #4169E1;" class="form-control form-control-lg btn shadow mt-3 text-light rounded" id="password" value="Sign Up"></div>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright font-weight-bold">
            <p class="font-weight-bold rounded" style="background-color: rgba(255, 255, 255, 0.25);">
              <i style="color:black">Copyright &copy;</i> 2023 <i>Abid Miah</i>
            </p>
        </div>
    </section>
</body>

<style>
body {       
    background-image: url(../static/images/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.back {
    background-color: rgba(255, 255, 255, 0.75);
}

.backbutton:hover {
    color:red
}

.copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
  }
</style>

{% endblock %}
    